.credits-section {
    background-color: #001d4c;
    padding: 30px;
    text-align: center;
    color: #ffffff;
    width: 100%;
}

.credits-section p {
    font-size: 18px;
    margin: 0;
}

.credits-section span {
    margin-top: 40px;
    font-weight: lighter;
    font-size: 20px;
}
